.bg-image-1 {
    background-image: url("images/bg-masthead.jpg");
    min-height: 50vh;
}
.bg-image{
    background-image: url("images/bg-masthead.jpg");
    min-height: 80vh;
}
.icons img {
    width: 25vh;
}
@media (max-width: 3000px) {
    img{
        display: block;
        margin: auto;
        width: 102%;
    }
}